.container{
    display:flex;
    flex-direction: column;
}

header{
    background-color:;
}

main{
    background-image: url("https://images.unsplash.com/photo-1487730202306-21b1a371bab0?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YW1lcmljYW4lMjBmbGFnfGVufDB8fDB8fHww");
    background-size: cover;
}

.two p{
    color:whitesmoke;
}

h1{
    color:blue;
}

h2{
    color:whitesmoke;
}

.one{
}

.two{
    background-color:blue;
    max-width: 800px;
    border-width: 10px;
}

footer{
    min-height: 50px;
}

.copy{
    text-align: center;
}