/* CSS COLOR HEXES 
--amaranth-purple: #B41240ff;
--yale-blue: #0E3668ff;
--yinmn-blue: #395A82ff;
--berkeley-blue: #032D61ff;
--mimi-pink: #EED8E0ff; */

html{
    background-color: rgb(243, 198, 215);
}
.container{
    display:flex;
    flex-direction: column;
}

header{
    align-items: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Flag_of_the_United_States_%28DoS_ECA_Color_Standard%29.svg/255px-Flag_of_the_United_States_%28DoS_ECA_Color_Standard%29.svg.png);
    background-size: cover;
    background-position: center;
    position: sticky;
    width: 100%;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    list-style: none;
}

.facts{
    list-style: none;
}
.nav a{
    padding: 15px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
    color: blanchedalmond;
}

h1{
    color: blanchedalmond;
    text-align: center;
}

h2{
    color:red;
}

.hidden{
    visibility: hidden;
    height: 100px;
}

.one, .two, .three, .four, .five{
    background-color: #032D61ff;
    max-width: 800px;
    border-width: 10px;
    text-align: center;
    color: blanchedalmond;
}

.one, .five{
    margin: auto;
}

.two, .three, .four{

    margin-left: 23%;
}

footer{
    min-height: 50px;
}

.copy{
    text-align: center;
}

#flag, #poll, #vote, #polling, #voting{
    width: 50%;
    margin: auto;
    display:block;
}